cmake-build-debug/*
cmake-build-release/*
cmake-build-relwithdebinfo/*
cmake-build-debug-clang
cmake-build-debug-visual-studio
build
.cache
.idea
.vs
.vscode
*.obj
*.sdf
*.suo
*.opensdf
*.vcxproj.user
*.o


